[core]
  hooksPath = ~/dotfiles/githooks/
	pager = batcat
	filemode = false
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[safe]
	directory = *
[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig.local
